body {
  background-color: darkgray;
  font-family: sans-serif;
  font-size: 1.5em;
}

button {
  display: flex;
  font: inherit;
  background-color: gold;
  border: 0cm;
  color: purple;
  font-size: 2em;
  padding: 0.3em 2.5em;
}

h1 {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
}

aside {
  display: flex;
  background-color: gold;
  padding: 0 1em;
  flex-direction: column;
  justify-content: space-around;
}

aside p {
  font-size: smaller;
}
