body {
  background: url(/IMAGES/background.png) repeat-x;
  background-color: #3e1d62;
  font-family: 'Sigmar One', cursive;
  font-size: 1.5em;
}

button {
  display: flex;
  font: inherit;
  background-color: gold;
  border: 0cm;
  color: #3e1d62;
  font-size: 2em;
  padding: 0.3em 1.5em;
}

#btn-shoot {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

#btn-shoot:hover {
  background-color: #3e1d62;
}

button:hover {
  background-color: #3e1d62;
  box-shadow: 0px 15px 20px rgba(218, 165, 32, 1);
  color: #fff;
  transform: translateY(-7px);
}

h1 {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
}

aside {
  display: flex;
  background: url(/IMAGES/backgroundColorFlipped.png) repeat;
  background-size: 100%;
  padding: 0 1em;
  flex-direction: column;
  justify-content: space-around;
}

aside p {
  font-size: smaller;
}

#myDIV input {
  margin-left: 10px;
}

#myDIV {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}
.kobeee {
  margin-left: 50px;
}

#btn-start {
  margin-left: 100px;
}

#myDIV img {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  width: 400px;
  height: 400px;
  align-items: center;
}

.hide {
  display: none;
}

#gameover {
  margin-left: 475px;
}

#gameover h1 {
  margin-right: 0px;
}

#gameover img {
  display: flex;
  align-items: center;
  width: 350px;
}
